{%  extends 'parkpasses/emails/base_email.html' %}

{% block greetings %}
            <p>Dear {{pass.first_name}} {{pass.last_name}},</p>
{% endblock %}

{%  block content %}
            <p>Your current {{pass.pass_type_display_name}} is due to renew automatically on {{pass.datetime_expiry}}.</p>

            <p>The charge will be {{ next_renewal_option.price|currency }}</p>

            <p>The pass will be valid for {{ next_renewal_option.duration }} days and will renew automatically upon expiry.</p>

            <p>If you do not want to renew your park pass, log in to your account at {{url}}{% url 'your-park-passes' %} and cancel the automatic renewal of your park pass.</p>
{% endblock %}
