{%  extends 'parkpasses/emails/base_email.html' %}

{% block greetings %}
            <p>Dear {{pass.first_name}} {{pass.last_name}},</p>
{% endblock %}

{%  block content %}
            <p>DBCA has issued you with a personnel park pass:</p>

            <table>
                <tr><th>Pass Number:</th><td>{{pass.pass_number}}</td>
                <tr><th>Pass Type:</th><td>{{pass.pass_type_display_name}}</td>
                <tr><th>Duration:</th><td>{{pass.duration}}</td>
                <tr><th>Start Date:</th><td>{{pass.date_start|date:'d-m-Y'}}</td>
                <tr><th>Expiry Date:</th><td>{{pass.date_expiry|date:'d-m-Y'}}</td>
            </table>

            <p>Your park pass pdf is attached to this email.</p>

            <p>Please print it out and display it on your vehicle dashboard when entering a national park.</p>
{%  endblock %}
