{% extends 'parkpasses/emails/base_email.html' %}

{% block greetings %}
            <p>Dear {{pass.first_name}} {{pass.last_name}},</p>
{% endblock %}

{% block content %}
            <p>Your park pass has been updated.</p>

            <p>Your new park pass pdf is attached to this email.</p>

            <p>To update the vehicle registration details and generate a new park pass pdf go to <a href="{{site_url}}{% url 'your-park-passes' %}">{{site_url}}{% url 'your-park-passes' %}</a></p>

            <p>Once you have added your vehicle details to your park pass, please print it out and display it on
            your vehicle dashboard when entering a national park.</p>
{% endblock %}
