{%  extends 'parkpasses/emails/base_email.html' %}

{% block greetings %}
            <p>Dear PICA User,</p>
{% endblock %}

{%  block content %}
            <p>The following Gold Star Passes were purchased yesterday:</p>

            {% for pass in passes %}
            <table>
                <tr><th>Pass Number:</th><td>{{pass.pass_number}}</td>
                <tr><th>First Name:</th><td>{{pass.first_name}}</td>
                <tr><th>Last Name:</th><td>{{pass.last_name}}</td>
                <tr><th>Address Line 1:</th><td>{{pass.address_line_1}}</td>
            {% if pass.address_line_2 %}
                <tr><th>Address Line 2:</th><td>{{pass.address_line_2}}</td>
            {% endif %}
                <tr><th>Suburb:</th><td>{{pass.suburb}}</td>
                <tr><th>Postcode:</th><td>{{pass.postcode}}</td>
                <tr><th>State:</th><td>{{pass.state}}</td>
                <tr><th>Mobile:</th><td>{{pass.mobile}}</td>
                <tr><th>Start Date of Pass:</th><td>{{pass.date_start|date:'d-m-Y'}}</td>
            </table>

            <br>
            {% endfor %}
{%  endblock %}
