/*body {
    font-family: proxima-nova;
}*/

/* Bring app content inline with header logo and navbar */
div#app .container {
    padding: 0 36px 0 36px;
}

.park-passes-bg-banner .wrapper {
    padding: 30px 48px 32px 48px;
    display: flex;
    align-items: center;

}

.park-passes-bg-banner .wrapper section {
    padding-right: 32px;
}

.park-passes-bg-banner {
    height:126px;
    background-color: #003e52;
}

.park-passes-bg-banner .logo-container {
    display: flex;
    align-items: center;
    /*border:1px solid black;*/
}

.logo-container-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
}

.site-title {
    height: 62px;
    line-height: 62px;
    padding-top: 8px;
}

.site-title h1 {
    color:#eee;
    margin:0px;
}

.licensing-btn-primary {
    color: #fff;
    background-color: #003e52;
}

.licensing-btn-primary:hover {
    color: #fff;
    background-color: #00818F;
}

.org-primary {
    color: #003e52;
}

.org-icon-primary {
    color: #003e52;
}

.org-icon-primary:hover {
    color: #00818F;
}

.org-error-message {
    color: #dc3545;
    margin-top: 0.25rem;
    font-size: 0.875em;
}

.org-form-switch-primary:checked {
    background-color: #00818F;
    border-color: #00818F;
}

.org-badge-primary {
    color: #fff;
    background-color: #00818F;
}

.fa-cart-shopping {
    color: #00818F;
}

.fa-cart-shopping:hover {
    color: #003e52;
    ;
}

div.dataTables_processing div:last-child div {
    display: none;
}
