{% extends 'parkpasses/emails/base_email.html' %}

{% block greetings %}
            <p>
                Dear {{purchaser.first_name}} {{purchaser.last_name}},
            </p>
{% endblock %}

{% block content %}

            <p>The Park Pass voucher you purchased for {{voucher.recipient_name}} has been emailed to {{voucher.recipient_email}}.</p>

            <ul>
                <li>Voucher Value: ${{voucher.amount}}</li>
                <li>Voucher Code: {{voucher.code}}</li>
                <li>Expiry Date: {{voucher.expiry|date:"d-m-Y"}}</li>
            </ul>

{% endblock %}
