{% extends 'parkpasses/emails/base_email.html' %}

{% block greetings %}
            <p>
                Dear {{voucher.recipient_name}},
            </p>
{% endblock %}

{% block content %}
            <p>You have received a voucher for a Western Australian park pass from:</p>

            <p><strong>{{purchaser.first_name}} {{purchaser.last_name}}</strong></p>

            <p style="font-style:italic;">"{{voucher.personal_message}}"</p>

            <p>You can buy a Western Australian park pass with your voucher at <a href="{{site_url}}">{{site_url}}</a></p>

            <ul>
                <li>Voucher Value: ${{voucher.amount}}</li>
                <li>Voucher Code: {{voucher.code}}</li>
                <li>Voucher Pin: {{voucher.pin}}</li>
                <li>Expiry Date: {{voucher.expiry|date:"d-m-Y"}}</li>
            </ul>
{% endblock %}
