{%  extends 'parkpasses/emails/base_email.html' %}

{%  block content %}

    {{purchaser.first_name}} {{purchaser.last_name}},

    You have purchased a park pass voucher which will be sent to {{voucher.recipient_name}}
    via their email address {{voucher.recipient_email}} on {{ voucher.datetime_to_email }}.

    We will send you another confirmation email when we send the voucher to the recipient.

    Voucher Value: {{voucher.amount}}
    Voucher Code: {{voucher.code}}
    Expiry Date: {{voucher.expiry}}

{%  endblock %}
