{%  extends 'parkpasses/emails/base_email.html' %}

{%  block content %}
	<p>The commercial filming lawful authority application {{ proposal.lodgement_number }} for {{ district_proposal.district_name }} district/region has been referred for assessment.</p>

	<p>After assessing the application, click ‘Enter Requirements’ to add conditions then click ‘Propose to Approve’ to send to your District/Regional Manager for approval.</p>

	<p>Please ensure your assessment is completed at least three days prior to the lawful authority proposed start date of {{ proposed_start_date }}.</p>

    <p>
    You can access this Application using the following link:
    </p>
    <a href="{{url}}">Access Application</a>


{%  endblock %}
