{%  extends 'parkpasses/emails/base_email.html' %}

{%  block content %}
    {% if reminder %}
        <p>This is a reminder for a referral for Application <strong>{{proposal.lodgement_number}}</strong> that has been sent to you:</p>
    {% else %}
        <p>A referral for commercial filming licence application <strong>{{ proposal.lodgement_number }}</strong> has been sent to you.</p>

        <p>Please assess the application and complete the referral checklist for your district/region/unit and add applicable conditions to the requirements section that are not already covered in the <a href="{{ filming_handbook_url }}">Commercial Filming and Photography Handbook</a>.</p>

        <p>You will need to click ‘Complete Referral Task’ to submit your referral assessment.</p>

        <p>Please ensure your referral is completed at least three days prior to the licence proposed start date of {{ proposed_start_date }}.</p>

        <p>Comments: {{comments}}</p>
    {% endif %}
    <p>You can access this referral using the following link:</p>
    <a href="{{url}}">Access Referral</a>
{%  endblock %}
