{%  extends 'parkpasses/emails/base_email.html' %}

{%  block content %}

 
       
        {% if district_proposal.is_kensington_proposal %}
                <p>Your lawful authority to conduct commercial filming operations on <em>Conservation and Land Management Act 1984 lands and waters </em> has been approved and expires on {{approval.expiry_date}}. A copy of your lawful authority is attached to this email and can be accessed via Commercial Operator Licensing System (COLS) under your account, click <a href="{{url}}">here</a> here to login.</p>
        {% else %}
                <p>Your lawful authority to conduct commercial filming operations on <em>Conservation and Land Management Act 1984 lands and waters </em> within the <strong> {{ district_proposal.district_name }} </strong> district/region has been approved and expires on {{approval.expiry_date}}. A copy of your lawful authority is attached to this email and can be accessed via Commercial Operator Licensing System (COLS) under your account, click <a href="{{url}}">here</a> here to login.</p>
        {% endif %}

        <p>If your application includes parks and reserves across multiple districts/regions, please note as each district/region provides their approval a new lawful authority will be granted with the additional parks and reserves that supersedes your previous lawful authority.</p>

        <p><strong>Parks and Activities</strong><br>
        The activities and parks you are permitted to operate within are listed in Schedule 1 of your lawful authority.</p>

        <p><strong>Commercial Filming and Photography Handbook - Conditions</strong><br>
        <p>All operators are required to adhere to the filming authority conditions listed in the Commercial Filming and Photography Handbook. A copy of the handbook can be downloaded from the {{settings.DEP_NAME}} website:</p>
        
        <a href="{{settings.COLS_FILMING_HANDBOOK_URL}}">{{settings.COLS_FILMING_HANDBOOK_URL}}</a> 
        
        <!-- <p>Please ensure you have a copy of this handbook on hand either in hardcopy or an electronic version.</p> -->
        <p>Please ensure contact is made with the relevant departmental region(s) and district(s) prior to conducting your filming operation, as per section 5.3 of the handbook. </p>
        <p>A copy of this handbook must be on hand either in hardcopy or an electronic version while conducting the filming operation.</p>

        <p><strong>Additional Conditions</strong></br>
        Additional conditions are listed in schedule 2 of the lawful authority. If you are required to submit additional documentation based on these conditions, it will show under the “Compliance with requirements” section on your COLS homepage. You will need to login to your account and ensure you have completed any compliance requirements by the due date by uploading the requested documents.</p>

        <p>If you have any enquiries or need assistance with the online system please contact a licensing office on {{settings.DEP_PHONE_FILMING}} or email {{settings.SUPPORT_EMAIL_FILMING}}.</p>
   

{%  endblock %}
