{% extends "webtemplate_dbca/base_b5.html" %}

{% block header_top_menu %}
<div id='ledger-payment-overtop'></div>
{% endblock %}

{% block extra_js %}
     <script src="/static/common/node_modules/bootstrap-datepicker/js/bootstrap-datepicker.js?ver={{ GIT_COMMIT_HASH }}"></script>
{% endblock %}

{% block extra_css %}
     <link type="text/css" href="/static/common/node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css?ver={{ GIT_COMMIT_HASH }}" rel="stylesheet">
     <link rel="stylesheet" type="text/css" href="/static/common_addons/node_modules/daterangepicker/daterangepicker.css?ver={{ GIT_COMMIT_HASH }}" />
     <link rel="stylesheet" type="text/css" href="/static/ledger_api/ledger_api.css?ver={{ GIT_COMMIT_HASH }}" />
{% endblock %}

{% block  top_menu %}
<li>
         <button type="button" class="btn btn-sm btn-secondary">
                  Notification 1 <span class="badge bg-danger">14</span>
         </button>

</li>

<li>
         <button type="button" class="btn btn-sm btn-secondary">
                  Notification 1 <span class="badge bg-danger">14</span>
         </button>

</li>

<li>
         <button type="button" class="btn btn-sm btn-secondary">
                  Notification 1 <span class="badge bg-danger">14</span>
         </button>

</li>
{% endblock %}


{% block menubottom %}
{%endblock %}


{% block extra_style %}
<style>
    .footer {background-color: lightgrey}
</style>
{% endblock %}

{% block menu_spacer %}
{% endblock %}


{% block content %}
   <script type="text/javascript" src="/static/ledger_api/js/ledger_management.js?ver={{ GIT_COMMIT_HASH }}"></script>
   <input type='hidden' value='{{ csrf_token }}' id='ledger_ui_csrf_token' >
   <div class="container">
    <div class="">

        <!-- Messages  -->
        {% if messages %}
        <div class="row">
            <div class="col">
                {% for message in messages %}
                <div class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %}">
                    {{ message|safe }}
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
	<div class="col-lg-12">

		<div id='content-payment-body'>

			{{ data|safe }}
		</div>
	</div>



        <div class="row">
            <div class="col">
                {% block page_content_inner %}
<br>
<nav class='pb-1'>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Details</button>
    {% block myaccount_nav %}
      <!--
      <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Other1</button>
       <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Other2</button>
    -->
       {% endblock %}

  </div>
</nav>
{% if 'first_name' in settings.LEDGER_UI_ACCOUNTS_MANAGEMENT_KEYS or 'last_name' in settings.LEDGER_UI_ACCOUNTS_MANAGEMENT_KEYS  or 'legal_first_name' in settings.LEDGER_UI_ACCOUNTS_MANAGEMENT_KEYS  or 'legal_last_name' in settings.LEDGER_UI_ACCOUNTS_MANAGEMENT_KEYS or 'dob' in settings.LEDGER_UI_ACCOUNTS_MANAGEMENT_KEYS %}
<div class="card" id='personal-details-card-box'>
  <div class="card-header fw-bold h4" style='padding:30px;'>
        <div class='row'>
          <div class='col-6'>
                <i class="bi bi-check-circle-fill" style='color: #08c508;'></i>&nbsp;  Personal Details
          </div>
          <div class='col-6 text-end'>
                <i class="bi fw-bold chevron-toggle" data-bs-target="#ledger_ui_account_details-card-body"></i>
          </div>
       </div>

  </div>
  <div class="card-body collapse show" id='ledger_ui_account_details-card-body'>
     <div id="ledger_ui_account_details"></div>
  </div>
</div>

<br>
{% endif %}

{% if 'identification' in settings.LEDGER_UI_ACCOUNTS_MANAGEMENT_KEYS %}
<div class="card">
  <div class="card-header fw-bold h4" style='padding:30px;'>
         <div class='row'>

          <div class='col-6'>
                <i class="bi bi-x-circle-fill" style='color: #ff0909'></i>&nbsp;  Identification Details

          </div>
          <div class='col-6 text-end'>
		<i class="bi fw-bold chevron-toggle" data-bs-target="#ledger_ui_identification-card-body"></i>
          </div>
       </div>
  </div>
  <div class="card-body collapse" id='ledger_ui_identification-card-body'>
     <div id="ledger_ui_identification_details"></div>
  </div>
</div>

<br>
{% endif %}

{% if 'residential_line1' in settings.LEDGER_UI_ACCOUNTS_MANAGEMENT_KEYS or 'residential_locality' in settings.LEDGER_UI_ACCOUNTS_MANAGEMENT_KEYS or 'residential_state' in settings.LEDGER_UI_ACCOUNTS_MANAGEMENT_KEYS or 'residential_postcode' in settings.LEDGER_UI_ACCOUNTS_MANAGEMENT_KEYS or 'residential_country' in settings.LEDGER_UI_ACCOUNTS_MANAGEMENT_KEYS or 'postal_line1' in settings.LEDGER_UI_ACCOUNTS_MANAGEMENT_KEYS or 'postal_locality' in settings.LEDGER_UI_ACCOUNTS_MANAGEMENT_KEYS or 'postal_state' in settings.LEDGER_UI_ACCOUNTS_MANAGEMENT_KEYS or 'postal_postcode' in settings.LEDGER_UI_ACCOUNTS_MANAGEMENT_KEYS or 'postal_country' in settings.LEDGER_UI_ACCOUNTS_MANAGEMENT_KEYS %}
{% endif %}

{% if 'residential_address' in settings.LEDGER_UI_ACCOUNTS_MANAGEMENT_KEYS or 'postal_address' in settings.LEDGER_UI_ACCOUNTS_MANAGEMENT_KEYS %}
<div class="card">
  <div class="card-header fw-bold h4" style='padding:30px;'>
    <div class='row'>
	  <div class='col-6'>
                <i class="bi bi-check-circle-fill" style='color: #08c508;'></i>&nbsp; Address Details

	  </div>
	  <div class='col-6 text-end'>
		<i class="bi fw-bold down-chevron-close chevron-toggle" data-bs-target="#ledger_ui_address-card-body"></i>
	  </div>
    </div>
  </div>
  <div class="card-body" id='ledger_ui_address-card-body'>
     <div id="ledger_ui_residential_details"></div>
     <div id="ledger_ui_postal_details"></div>
  </div>
</div>

<br>
{% endif %}

<div class="card">
  <div class="card-header fw-bold h4" style='padding:30px;'>
    <div class='row'>

          <div class='col-6'>
                <i class="bi bi-x-circle-fill" style='color: #ff0909'></i>&nbsp; Contact Details
          </div>
          <div class='col-6 text-end'>
                <i class="bi fw-bold chevron-toggle" data-bs-target="#ledger_ui_contact-details-card-body"></i>
          </div>
      </div>
  </div>
  <div class="card-body" id='ledger_ui_contact-details-card-body'>
     <div id="ledger_ui_contact_details"></div>

  </div>
</div>



		{% endblock %}
            </div>
        </div>
    </div>
   </div>
<script>
ledger_management.init({{ request.user.id }});
//ledger_management.accounts.init({{ request.user.id }});
// ledger_management.identification.init();
//ledger_management.address.init();
//ledger_management.contact.init();
</script>
{% endblock %}

{% block page_footer %}
<footer class="footer mt-auto py-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <small class="float-right">&copy; Department of Biodiversity, Conservation and Attractions</small>
            </div>
        </div>
    </div>
</footer>
{% endblock page_footer %}
