{% extends 'parkpasses/base.html' %}

{% load static %}

{% block title %}
    {{ title }} - Park Passes - Department of Biodiversity, Conservation and Attractions
{% endblock %}

{% block left_menu_items %}
    <li><a  href="{% url 'contact' %}">Contact Us</a></li>
    <li><a  href="{% url 'further_information' %}">Further Information</a></li>
{% endblock %}

{% block messages %}
{% endblock %}

{% block content %}
    <div class="container-fluid" id="vue-root">
        {% block vue-component %}
        <div id="app"></div>
        {% endblock %}
    </div>
{% endblock %}
