{% extends "webtemplate_dbca/base_b5_auth_session.html" %}
{% load static %}
{% load users %}
{% load utils %}


<!DOCTYPE html>
<html lang="en">
    {% block extra_hidden_inputs %}
        <link rel="icon" href="{% static 'parkpasses/favicon.ico' %}">
    {% endblock %}

    {% block title %}
        Park Passes - Department of Biodiversity, Conservation and Attractions
    {% endblock %}

    <body>
        {% block header_top_menu %}
            {% system_check as system_check %}
            {% is_internal as is_internal_user %}
            {% if not system_check.passed and is_internal_user %}
            <div class="alert alert-danger mb-0" role="alert">
                <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                    </symbol>
                </svg>
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                <div class="pt-3">
                    <div>The Park Passes system check failed!</div>
                    <div>You must urgently rectify the following issues in order for the system to function:</div>
                    <ul>
                        {% for issue in system_check.critical_issues %}
                            <li>{{ issue }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}
        {% endblock %}

        {% block header %}
        {% endblock %}

        {% block content %}
        Test
        {% endblock %}

        {% block menu_items_left_brand %}
        <a class="navbar-brand" href="{% url 'home'%}"><img src="{% static 'parkpasses/img/explore-parks-logo-small.png' %}"> Home</a>
        {% endblock %}

        {% block extra_css %}
            {% build_tag as build_tag %}
            <link rel="stylesheet" href="{% static 'parkpasses/css/global.css' %}?v={{build_tag}}">
            <link rel="stylesheet" href="{% static 'parkpasses_vue/css/chunk-vendors.css' %}?v={{build_tag}}">
            <link rel="stylesheet" href="{% static 'parkpasses_vue/css/app.css' %}?v={{build_tag}}">
        {% endblock %}
        {% block custom_js %}
            {% build_tag as build_tag %}
            <script type="text/javascript" src="{% static 'parkpasses_vue/js/chunk-vendors.js' %}?v={{build_tag}}"></script>
            <script type="text/javascript" src="{% static 'parkpasses_vue/js/app.js' %}?v={{build_tag}}"></script>
        {% endblock %}

        {% block menu_items_right %}

            {% if request.user.is_authenticated %}
                {% if not request.user.is_staff %}
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                        <a role="button" href="/cart" class="btn position-relative">
                            <i class="fa-solid fa-cart-shopping fa-xl"></i>
                            <span class="badge rounded-pill bg-danger">
                                <span id="cart-item-count">{{ request.session.cart_item_count|default:"0" }}</span>
                                <span class="visually-hidden">items in cart</span>
                            </span>
                        </a>
                    </div>
                </div>
                {% endif %}
            <li class="nav-item">

                <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">
                    Welcome
                    <strong>
                    {% if request.user.first_name %}
                        {{ request.user.first_name }}
                    {% elif request.user.last_name %}
                        {{ request.user.last_name }}
                    {% else %}
                        {{ request.user.email }}
                    {% endif %}
                    </strong>

                    {% is_internal as is_internal_user %}

                    {% if not is_internal_user %}
                        {% if request.session.retailer %}
                        [{{ request.session.retailer.name }}]
                        {% endif %}
                    {% endif %}
                </a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Options
                </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarScrollingDropdown">
            <span class='caret-above-menu hidden-sm' style=''><i class="bi bi-caret-up-fill fas ml-2"></i></span>
            {% block menu_dropdown %}
                {% block menu_extra_dropdown_top %}
                <li>
                    <a class="dropdown-item" href="{% url 'account' %}">Account</a>
                </li>
                {% endblock %}
                {% if request.user.is_staff %}
                    {% include 'webtemplate_dbca/includes/staff_menu.html' %}
                    {% block menu_extra_dropdown_staff_top %}
                        {% include 'webtemplate_dbca/includes/staff_menu_extras.html' %}
                    {% endblock %}
                {% endif %}
                {% is_retailer as is_retailer %}
                {% if is_retailer %}
                    {% include 'webtemplate_dbca/includes/retailer_menu.html' %}
                {% endif %}

                <li><hr class="dropdown-divider"></li>
                {% block menu_extra_dropdown_bottom %}
                {% include 'webtemplate_dbca/includes/menu_bottom.html' %}
            {% endblock %}
            <li><a class="dropdown-item" href="{% url 'logout' %}?next=/">Logout</a></li>
            {% endblock %}
            </ul>
            </li>
            {% endif %}
        {% endblock %}

        {% block menu_items2_right %}
            {% if not user.is_authenticated %}
                <ul class="navbar-nav navbar-right">
                    <li class="nav-item">
                        <a href="/ssologin" class="btn licensing-btn-primary btn-sm">Login</a>
                    </li>
                </ul>
            {% endif %}
        {% endblock %}

        {% block menu_spacer %}
            <br>
        {% endblock %}
    </body>
</html>
