{% extends 'parkpasses/base.html' %}

{% load utils %}

{% load static %}

{% system_name as system_name %}
{% support_email as support_email %}

{% block extra_css %}
    <link type="text/css" href="{% static 'wl/css/index.css' %}" rel="stylesheet">
{% endblock %}

{% block left_menu_items %}
    <li><a  href="{% url 'ds_contact' %}">Contact Us</a></li>
    <li><a  href="{% url 'ds_further_info' %}">Further Information</a></li>
{% endblock %}

{% block messages %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>
                    Contact {% system_name %} Section
                </h2>
                <p class="m-4">To contact a member of the {% system_name %} section, please email: <a href="mailto:{% support_email %}" target="blank">{% support_email %}</b>.</p>
            </div>
        </div>
    </div>
{% endblock %}
